extends layout

block content
  if errors
    ul.card-panel.red.white-text
      for error in errors
        li= error.msg
  if dbErr
    ul.card-panel.red.white-text
      li= dbErr

  if fields
    - var patronID = fields.patron_id
    - var patronGRD = fields.patron_grade
    - var patronDPT = fields.patron_department
    - var techID = fields.tech_id
    - var finished = moment(fields.date_finished).format('YYYY-MM-DD[T]kk:mm')
    - var started = moment(fields.date_started).format('YYYY-MM-DD[T]kk:mm')
    - var printer = fields.printer_setup
    - var notes = fields.notes
  else
    - var started = moment().format('YYYY-MM-DD[T]kk:mm');
    - var finished = moment().format('YYYY-MM-DD[T]kk:mm');

  #print-form
    form(action='/capture', method='post', enctype='multipart/form-data')
      .row
        .col.s12.l6
          div.input-field(data-role='fieldcontain')
            label(for='patron_id') Patron ID
            input.validate#patron_id(type='text' placeholder='(required)' name='patron_id' value=patronID)
          div.input-field(data-role='fieldcontain')
            label.active(for='patron_grade') Patron Grade
            input.validate#patron_grade(list='grade' placeholder='(required)' name='patron_grade' value=patronGRD)
            datalist#grade
              option(value='Undergraduate')
              option(value='Graduate')
              option(value='Faculty')
              option(value='Other')
          div.input-field(data-role='fieldcontain')
            label(for='patron_department') Patron Department
            input.validate#patron_department(type='text' placeholder='(required)' name='patron_department' value=patronDPT)
          div.input-field(data-role='fieldcontain')
            label(for='tech_id') Tech ID
            input.validate#tech_id(type='text' placeholder='(required)' name='tech_id' value=techID)
          .row
            .col.s12.l6
              div.input-field(data-role='fieldcontain')
                label.active(for='date_started'): strong Date/Time Started (required)
                input.validate.date_started#datetime-start(type='text' name='date_started' value=started)
            .col.s12.l6
              div.input-field(data-role='fieldcontain')
                label.active(for='date_finished'): strong Date/Time Finished (required)
                input.validate.date_finished#datetime-finish(type='text' name='date_finished' value=finished)

          div.input-field(data-role='fieldcontain')
            label(for='printer_setup') Printer Settings
            textarea#printer_setup(placeholder='Printer Settings: \n\tnozzle size: \n\tfilament type: \n\tfilament color:' name='printer_setup') #{printer}
          div.input-field(data-role='fieldcontain')
            label(for='notes') Notes
            textarea#notes(placeholder='Notes' name='notes') #{notes}
          div.input-field.file-field(data-role='fieldcontain')
            .btn
              span Add File
              input.validate#print_file(type='file' name='print_file')
            .file-path-wrapper
              input.file-path.validate(type='text')
        .col.s12.l6
          input.validate#image_file(type='hidden' name='image_file' value='')
          script(src='/webcam.js')
          #live_camera
          a.btn-large.waves-effect.waves-light(href="javascript:void(take_snapshot())") Take Snapshot
          #snapshot()
          script(src='/pics.js')

      .row
        .col.s12
          div.input-field(data-role='fieldcontain')
            p: input.validate.btn.waves-effect.waves-light.green#submit(type='submit' name='submit' value='Save')




