extends layout

block content
  if errors
    ul.card-panel.red.white-text
      for error in errors
        li= error.msg
  if dbErr
    ul.card-panel.red.white-text
      li= dbErr

  if fields
    - var patronID = fields.patron_id
    - var patronGRD = fields.patron_grade
    - var patronDPT = fields.patron_department
    - var techID = fields.tech_id
    - var finished = moment(fields.date_finished).format('YYYY-MM-DD[T]kk:mm')
    - var started = moment(fields.date_started).format('YYYY-MM-DD[T]kk:mm')
    - var printer = fields.printer_setup
    - var notes = fields.notes
  else
    - var started = moment().format('YYYY-MM-DD[T]kk:mm');

  #print-form
    form(action='/', method='post', enctype='multipart/form-data')
      .row
        .col.s6
          input(type='text', id='patron_id', placeholder='Patron ID (required)', name='patron_id' value=patronID)
          input(list='grade', id='patron_grade', placeholder='Patron Grade (required)', name='patron_grade' value=patronGRD)
          datalist#grade
            option(value='Undergraduate')
            option(value='Graduate')
            option(value='Faculty')
            option(value='Other')
          input(type='text', id='patron_department', placeholder='Patron Department (required)', name='patron_department' value=patronDPT)
          input(type='text', id='tech_id', placeholder='Tech ID (required)', name='tech_id' value=techID)
          .row
            .col.s6
              p: strong Date/Time Started (required)
              input(type='datetime-local', id='date_started', name='date_started' value=started)
            .col.s6
              p: strong Date/Time Finished (required)
              input(type='datetime-local', id='date_finished', name='date_finished' value=finished)

          textarea(id='printer_setup', placeholder='Printer Settings: \n\tnozzle size: \n\tfilament type: \n\tfilament color:', name='printer_setup') #{printer}
          textarea(id='notes', placeholder='Notes', name='notes') #{notes}
          input(type='file', id='print_file', name='print_file')
          p: input(type='submit', class='btn waves-effect waves-light green' id='submit', name='submit' value='Save')

        .col.s6
          input(type='hidden', id='image_file', name='image_file' value='')
          script(src="webcam.js")
          #live_camera(style="width:320px; height:240px;margin:8px;")
          #snapshot()
          script(src='pics.js')
          a.btn.waves-effect.waves-light(href="javascript:void(take_snapshot())") Take Snapshot




