extends layout

block content
  - var headers = [ "Print ID", "Image", "Printer & Setup", "Print File", "Notes", "Patron", "Tech", "Date Created" ]
  - var s3URL = 'https://s3.amazonaws.com/' + process.env.S3_BUCKET + '/'
  #table-content.s12
    table.striped.responsive-table.bordered
      thead
          tr
          each header in headers
            th= header

      tbody
        each row in results
          tr
            td
              a(href='/detail/' + row.attributes.print_id)= row.attributes.print_id
            td
              - if(row.attributes.image_file)
                a(href='/detail/' + row.attributes.print_id)
                  img.responsive-img(src=s3URL + row.attributes.image_file)
            td: pre= row.attributes.printer_setup
            td 
              - if(row.attributes.print_file)
                - var shapeFile = row.attributes.print_file.replace('files/shapes/', '');
                a(href=s3URL + row.attributes.print_file)= shapeFile
            td: pre= row.attributes.notes
            td= row.attributes.patron_id
            td= row.attributes.tech_id
            td.date= moment(row.attributes.date_created).format('MMM DD, YYYY')
