extends layout

block content
  - var headers = [ "Image", "Printer & Setup", "Print File", "Notes", "Patron", "Tech", "Date Created" ]
  #table-content
    table.striped.responsive-table.bordered
      thead
          tr
          each header in headers
            th= header

      tbody
        each row in results
          tr
            td
              - if(row.image_file)
                - //var s3URL = 'https://' + process.env.S3_BUCKET + '.amazonaws.com/'
                - var s3URL = 'https://s3.amazonaws.com/' + process.env.S3_BUCKET + '/'
                img.responsive-img(src=s3URL + row.image_file)
            td: pre= row.printer_setup
            td 
              - if(row.print_file)
                a(href=s3URL + row.print_file) Shape File
            td: pre= row.notes
            td= row.patron_id
            td= row.tech_id
            td.date= moment(row.date_created).format('MMM DD, YYYY')
