extends layout

block content
  - var headers = [ "Patron", "Grade", "Department", "Tech", "Date Created", "Printer Setup", "Notes", "Image", "Print File" ]
  #table-content
    table.striped
      thead
          tr
          each header in headers
            th= header

      tbody
        each row in results
          tr
            td= row.patron_id
            td= row.patron_grade
            td= row.patron_department
            td= row.tech_id
            td= moment(row.date_created).format('MMMM DD, YYYY')
            td: pre= row.printer_setup
            td: pre= row.notes
            td
              - if(row.image_file)
                img.responsive-img(src=row.image_file)
            td 
              - if(row.print_file)
                a(href=row.print_file) Shape File
